.right-details-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.left-details-section {
  display: flex;
  flex-direction: column;
  width: calc(100% + 15em);
  text-align: center;
}
