.main {
  display: flex;
  flex-direction: column;
  .main__header {
    text-align: center;
    font-weight: bold;
  }
  .main__body {
    display: flex;
    max-width: 80%;
    margin: auto;
  }
}

.main__button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8%;
  border-radius: 4px;
  width: 70%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
