.beer-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  .beer-list__item {
    width: 200px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    .beer-list__item_details {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .beer-list__item__img {
      color: white;
    }
  }
}
